.comunicate{
    padding: 60px 0;
    background: url('../../../source/images/footer/Vector.svg'), #ffffff;
    background-size: cover;
    background-repeat: round;
    border-radius: 16px;
    @media (max-width:840px){
        padding: 73px 20px;
        background-position-x: right;
        background-repeat: repeat;
    }
    .comunicate_content{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transform: translateX(24vw);
        gap: 36px;
        max-width: min(66vw ,940px);
        @media (max-width:840px){
            transform: none;
            align-items: flex-start;
            gap: 47px;
            max-width: 100%;
        }
        
        .text{
            display: flex;
            gap: 30px;
            padding-top: 130px;
            @media (max-width:840px){
                flex-direction: column;
                padding-top: 42px;
            }
            p{
                color: #000;
                font-family: OnestReg;
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @media (max-width:840px){
                    font-size: 22px;
                }
            }
            img{
                max-width: 40px;
            }
        }
        .icons{
            display: flex;
            gap: 33px;
            div{
                width: 84px;
                height: 84px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #000;
                border-radius: 60px;
                transition: 0.5s;
                cursor: pointer;
                @media (max-width:840px){
                    width: 64px;
                    height: 64px;
                }
                &:hover{
                    background-color: #3A66FF;
                }
                &:nth-child(1){
                    img{
                        margin-right: 5px;
                    }   
                }
                img{
                    max-width: 54px;
                    &:nth-child(2){
                        margin-right: 5px;
                    }
                    @media (max-width:840px){
                        max-width: 34px;
                    }   
                    
                }
            }
            
        }
    }
}