footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (max-width:840px){
        flex-direction: column;
        margin: 0 auto;
        gap: 20px;
        padding: 60px 0;
    }
    .cv{
        display: flex;
        max-width: 500px;
        padding: 15px 100px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        border-radius: 50px;
        background: #FFF;
        color: #2A2A2A;
        font-family: OnestReg;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 70px auto 0;
        cursor: pointer;
        border: 0px;
        text-decoration: none;
        @media (max-width: 518px){
            font-size: 16px;
            max-width: 280px;
            padding: 15px 20px;
            margin: 70px auto 0;
        }

    }
    .footer_content{
        padding: 70px 10%;
        display: flex;
        flex-direction: column;
        gap: 60px;
        
        @media (max-width: 768px){
            padding: 50px 20px;
        }
        ul{
            display: flex;
            justify-content: center;
            gap: 60px;
            padding: 0;
            @media (max-width:1440px){
                gap: 30px;
            }
            @media (max-width:1024px){
                gap: 10px;
            }
            @media (max-width:840px){
                flex-direction: column;
                gap: 30px;
            }
            li{
                list-style: none;
                display: flex;
                a{
                    color: #FFF;
                    font-family: OnestReg;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.24px;
                    text-decoration: none;
                    @media (max-width:840px){
                        font-size: 24px;
                    }
                    &:after{
                        display: block;
                        content:" ";
                        height: 2px;
                        background-color: #3A66FF;
                        width: 0%; 
                        transition: width 0.4s ease-in-out;
                    }
                    &:hover:after,
                    &:focus:after {
                        width: 100%;
                    }
                }
            }
        }
        h1{
            color: #FFF;
            font-family: OnestBold;
            font-size: 8.0vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -1.17px;
            text-transform: uppercase;
            margin: 0;
            opacity: 0.1;
            @media (max-width: 768px){
                span{
                    font-size: 44px;
                }
                letter-spacing: 0;
                line-height: 50px;
                font-size: 77px;
            }
            @media (max-width: 470px){
                text-align: center;
            }
        }
    }
}