header{
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('../../../source/images/header/header.png'), lightgray -37.6px -141.936px / 309.14% 123.656% no-repeat;
    background-size: cover;
    @media (max-width: 470px){
        height: 600px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('../../../source/images/header/header470.jpg'), lightgray -37.6px -141.936px / 309.14% 123.656% no-repeat;
        background-repeat:no-repeat;
        background-position: center center;
    }
    
    
    .header_content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
        padding: 2% 10%;
        @media (max-width: 768px){
            padding: 20px;
        }
        nav{
            display: flex;
            justify-content: flex-end;
            .hamburger_menu{
                position: fixed;
                z-index: 300;
                background-color: white;
                height: 60px;
                width: 60px;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .menu_img,
                .menu_img::before,
                .menu_img::after {
                display: block;
                background-color: #000000;
                position: absolute;
                height: 2px;
                width: 30px;
                transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
                border-radius: 2px;
                }

                .menu_img::before {
                content: '';
                margin-top: -8px;
                }

                .menu_img::after {
                content: '';
                margin-top: 8px;
                }
                
            }
            .hamburger_menu.open{
                position: fixed;
                z-index: 299;
                .menu_img::before {
                    margin-top: 0px;
                    transform: rotate(405deg);
                    transition: all 0.4s;
                }
                .menu_img {
                    background: rgba(255, 255, 255, 0);
                }
                .menu_img::after {
                    margin-top: 0px;
                    transform: rotate(-405deg);
                    transition: all 0.4s;
                }
            }
            .menu_content{
                visibility: hidden;
            }
            .menu_content.open{
                display: flex;
                visibility: visible;
                transition: all 0.5s linear;
                position: fixed;
                z-index: 200;
                background-color: #0000004D;
                height: 100vh;
                width: 100%;
                top: 0px;
                left: 0px;
                align-items: center;
                justify-content: flex-end;
                backdrop-filter: blur(10px);
                @media (max-width:840px){
                    justify-content: flex-start;
                }
                ul{
                    margin-right: min(15vw, 300px);
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    li{
                        display: flex;
                        
                        a{
                            color: #FFF;
                            font-family: OnestReg;
                            font-size: 36px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: -0.36px;
                            list-style-type: none;
                            cursor: pointer;
                            @media (max-width:840px){
                                font-size: 24px;
                            }
                            &:after{
                                display: block;
                                content:" ";
                                height: 2px;
                                background-color: #3A66FF;
                                width: 0%; 
                                transition: width 0.4s ease-in-out;
                            }
                            &:hover:after,
                            &:focus:after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            
        }
        .header_description{
            @media (max-width: 840px){
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
            }
            .description_tag{
                display: flex;
                gap: 8px;
                @media (max-width: 470px){
                    justify-content: center;
                    .tag{
                        font-size: 13px;
                        letter-spacing: -0.1px;
                        padding: 10px 20px;
                    }
                }
                @media (max-width: 400px){
                    .tag{
                        font-size: 10px;
                        letter-spacing: -0.1px;
                        padding: 10px 20px;
                    }
                }
                @media (max-width: 374px){
                    .tag{
                        font-size: 10px;
                        letter-spacing: -0.1px;
                        padding: 8px 12px;
                    }
                }
            }
            h1{
                color: #FFF;
                font-family: OnestBold;
                font-size: 8.0vw;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -1.17px;
                text-transform: uppercase;
                margin: 0;
                @media (max-width: 768px){
                    font-size: 46px;
                }
                @media (max-width: 470px){
                    text-align: center;
                    font-size:60px;
                    letter-spacing:  -0.46px;
                    line-height: 48px; 
                    margin-top: 20px;
                }
                @media (max-width: 384px){
                    font-size: 55px;
                }
                @media (max-width: 355px){
                    font-size: 50px;
                }
                @media (max-width: 330px){
                    font-size: 46px;
                }
            }
        }
    }
}