.competence{
    display: flex;
    justify-content: space-between;
    gap: 62px;
    padding: 80px 0;
    @media (max-width:1080px){
        gap: 16px;
    }
    @media (max-width:840px){
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        gap: 20px;
        padding: 60px 0;
    }
    .competence_tag{
        align-self: flex-start;
        .tag{
            opacity: 0.6;
        }
    }
    .competence_content{
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 960px;
        .content_content{
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr 1fr; 
            border-radius: 16px;
            border: 0.5px solid #666;
            @media (max-width:840px){
                grid-template-columns: 1fr ; 
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
                border: none;
                gap: 10px;
            }

            .content_block{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                height: 200px;
                border: 0.5px solid #666;
                @media (max-width:840px){
                    border-radius: 15px;
                    background: #313131;
                    backdrop-filter: blur(50px);
                    height: 160px;
                }
                &:nth-child(1){
                    border-radius: 15px 0 0 0;
                    @media (max-width:840px){
                        border-radius: 15px;;
                    }
                }
                &:nth-child(3){
                    border-radius: 0 15px 0 0;
                    @media (max-width:840px){
                        border-radius: 15px;;
                    }
                }
                &:nth-child(7){
                    border-radius: 0 0 0 15px ;
                    @media (max-width:840px){
                        border-radius: 15px;;
                    }
                }
                &:nth-child(9){
                    border-radius: 0 0 15px 0;
                    @media (max-width:840px){
                        border-radius: 15px;;
                    }
                }
                img{
                    max-width: 67px;
                    &:nth-child(3){
                        filter: contrast(100);
                    }
                }
                p{
                    color: #FFF;
                    font-family: OnestReg;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.18px;
                    text-transform: uppercase;
                    @media (max-width:840px){
                        font-size: 14px;
                    }
                }
            }
        }
        a{
            text-decoration: none;
            padding: 15px;
            text-align: center;
            border-radius: 50px;
            border: 1px solid #69B4FF;
            color: #FFF;
            font-family: OnestReg;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: .5s;
            cursor: pointer;
            &:hover{
                border: 1px solid #FFF;
                background: #FFF;
                color: #000;
            }
        }
    }
}