.curses{
    display: flex;
    justify-content: space-between;
    gap: 120px;
    padding: 80px 0;
    padding: 60px 0 60px 10%;
    @media (max-width: 768px){
        padding: 60px 20px;
    }
    @media (max-width:1080px){
        gap: 60px;
    }
    @media (max-width:840px){
        flex-direction: column;
        align-items: center;
        width: 280px;
        margin: 0 auto;
        gap: 20px;
        padding: 10px 0;
    }
    .curses_tag{
        align-self: flex-start;
        .tag{
            opacity: 0.6;
        }
    }
    .curses_content{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 60px;
        @media (max-width:840px){
            gap: 40px;
        }
        .swiper-container{
            overflow: hidden;
            .swiper-wrapper{
                @media (max-width:840px){
                    max-width: 280px;
                }
                
            }
                img{
                    height: auto;
                    width: 100%;
                    max-height: 325px;
                }
        }
    }
    
    
}
.curses.carusel_two{
    gap: 55px;
    @media (max-width:1080px){
        gap: 20px;
        .tag{
            padding: 10px 10px;
        }
    }
    .curses_content{
        .swiper-container{
            img{
                max-height: 432px;
            }
        }
    }
    
}