.images{
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    padding: 80px 0;
    @media (max-width:1080px){
        gap: 44px;
    }
    @media (max-width:840px){
        flex-direction: column;
        align-items: center;
        width: 280px;
        margin: 0 auto;
        gap: 20px;
        padding: 60px 0;
    }
    .images_tag{
        align-self: flex-start;
        .tag{
            opacity: 0.6;
            padding: 10px 30px;
        }
    }
    .images_content{
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 960px;
        
        .content_img{
            
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr auto 1fr auto 1fr auto;
            grid-template-areas: 
            "item-1 item-2"
            "item-3 item-3"
            "item-4 item-5"
            "item-6 item-6"
            "item-7 item-8"
            "item-9 item-9"; 
            gap: 30px;
            @media (max-width:840px){
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr auto 1fr 1fr auto 1fr 1fr auto;
                grid-template-areas: 
                "item-1" 
                "item-2"
                "item-3"
                "item-4 "
                "item-5"
                "item-6"
                "item-7" 
                "item-8"
                "item-9"; 
                gap: 20px;
            }

            img{
                max-width: 100%;
                border-radius: 16px;
                @media (max-width:840px){
                    max-width: none;
                    width: 280px;
                }
                
            }
            .item-1{
                grid-area: item-1;
                position: relative;
            }
            .item-2{
                grid-area: item-2;
                position: relative;
            }
            .item-3{
                grid-area: item-3;
                position: relative;
            }
            .item-4{
                grid-area: item-4;
            }
            .item-5{
                grid-area: item-5;
            }
            .item-6{
                grid-area: item-6;
            }
            .item-7{
                grid-area: item-7;
            }
            .item-8{
                grid-area: item-8;
            }
            .item-9{
                grid-area: item-9;
            }
        }
        .content_img.images_two{
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: auto 1fr ;
            grid-template-areas: 
            "item-1 item-1"
            "item-2 item-3";
            cursor: pointer;
            .video:hover{ 
                .play{
                transform: scale(1.2)
                }
            }
            @media (max-width:840px){
                grid-template-columns: 1fr;
                grid-template-rows:  auto 1fr 1fr;
                grid-template-areas: 
                "item-1" 
                "item-2"
                "item-3"; 
                gap: 20px;
            }
            .play{
                width: min(20vw, 60px);
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                margin-top: auto;
                margin-bottom: auto;
                top: 0;
                bottom: 0;
                vertical-align: middle;
                cursor: pointer;
                filter: invert(1);
                transition: all 0.5s;
                &:hover{
                    transform: scale(1.2)
                }
            }
            .video_open{
                display: flex;
                position: fixed;
                z-index: 10000000000;
                background-color: #0000004D;
                height: 100vh;
                width: 100%;
                top: 0px;
                left: 0px;
                align-items: center;
                justify-content: center;
                backdrop-filter: blur(10px);
                video{
                    max-width: 100%;
                }
            }
        }
    }
}
.images.images_two{
    gap: 47px;
    @media (max-width:1080px){
        gap: 13px;
        .tag{
            padding: 10px 20px;
        }
    }
    
}