.images{
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    padding: 80px 0;
    @media (max-width:1080px){
        gap: 44px;
    }
    @media (max-width:840px){
        flex-direction: column;
        align-items: center;
        width: 280px;
        margin: 0 auto;
        gap: 20px;
        padding: 60px 0;
    }
    .images_tag{
        align-self: flex-start;
        .tag{
            opacity: 0.6;
            padding: 10px 30px;
        }
    }
    .images_content{
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 960px;
        
        .content_img{
            
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr auto 1fr auto 1fr auto;
            grid-template-areas: 
            "item-1 item-2"
            "item-3 item-3"
            "item-4 item-5"
            "item-6 item-6"
            "item-7 item-8"
            "item-9 item-9"; 
            gap: 30px;
            @media (max-width:840px){
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr auto 1fr 1fr auto 1fr 1fr auto;
                grid-template-areas: 
                "item-1" 
                "item-2"
                "item-3"
                "item-4 "
                "item-5"
                "item-6"
                "item-7" 
                "item-8"
                "item-9"; 
                gap: 20px;
            }

            img{
                max-width: 100%;
                @media (max-width:840px){
                    max-width: none;
                    width: 280px;
                }
                
            }
            .item-1{
                grid-area: item-1;
            }
            .item-2{
                grid-area: item-2;
            }
            .item-3{
                grid-area: item-3;
            }
            .item-4{
                grid-area: item-4;
            }
            .item-5{
                grid-area: item-5;
            }
            .item-6{
                grid-area: item-6;
            }
            .item-7{
                grid-area: item-7;
            }
            .item-8{
                grid-area: item-8;
            }
            .item-9{
                grid-area: item-9;
            }
        }
        .content_img.images_two{
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: auto 1fr ;
            grid-template-areas: 
            "item-1 item-1"
            "item-2 item-3"; 
            @media (max-width:840px){
                grid-template-columns: 1fr;
                grid-template-rows:  auto 1fr 1fr;
                grid-template-areas: 
                "item-1" 
                "item-2"
                "item-3"; 
                gap: 20px;
            }
        }
    }
}