.loveTrevel{
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    padding: 80px 0;
    @media (max-width:1080px){
        gap: 45px;
    }
    @media (max-width:840px){
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        gap: 20px;
        padding: 60px 0;
    }
    span{
        width: 120px;
    }
    .loveTrevel_content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: -webkit-fill-available;
        .content_countres{
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 30px;
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.50);
            @media (max-width:840px){
                padding: 16px;
            }
            
            p{
                color: #FFF;
                font-family: OnestReg;
                font-size: max(min(1.67vw, 24px), 18px);
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.24px;
            }
            .countres_grid{
                display: grid; 
                grid-template-columns: 175px 186px 195px; 
                grid-template-rows: 1fr 1fr 1fr 1fr; 
                gap: 24px 0px; 
                justify-content: space-between;
                width: 100%; 
                @media (max-width:840px){
                    grid-template-columns: 1fr; 
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
                    gap: 16px;
                }
                .countre{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    @media (max-width:840px){
                        gap: 10px;
                    }
                    img{
                        width: 20px;
                    }
                }
                p{
                    display: flex;
                    justify-content: space-between;
                    font-size: max(min(1.67vw, 24px), 16px);
                    flex-grow: 2;
                    img{
                        width: auto;
                    }
                    @media (max-width:840px){
                        &:nth-child(3){
                            order: 8;
                        }
                        &:nth-child(6){
                            order: 9;
                        }
                        &:nth-child(9){
                            order: 10;
                        }
                        &:nth-child(11){
                            order: 13;
                        }
                        &:nth-child(12){
                            order: 11;
                        }
                        
                    }
                }
            }
        }
    }
}